* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ecedee;
}

body,
html,
div#main {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background,
html {
  background: #000;
}

.layer0 {
  background: #16181a;
}

.layer1 {
  background: #26292B;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  /* the only thing changing is font size */
  font-weight: 500;
}

@keyframes vertical_tooltip {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes horizontal_tooltip {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
/* Tooltip */
.tooltip {
  position: relative;
}
.tooltip::before, .tooltip::after {
  text-transform: none;
  font-size: 0.9rem;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
.tooltip::before {
  content: "";
  border: 0.25rem solid transparent;
  z-index: 1001;
}
.tooltip::after {
  content: attr(tooltip-text);
  text-align: center;
  min-width: 3rem;
  max-width: 21rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 0.3ch;
  box-shadow: 0 1rem 2rem -0.5rem #000;
  background: #000;
  color: #ecedee;
  z-index: 1000;
}
.tooltip:hover::after, .tooltip:hover::before {
  display: block;
}
.tooltip.top::before, .tooltip.top::after {
  left: 50%;
  transform: translate(-50%, -0.5rem);
}
.tooltip.top::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #000;
}
.tooltip.top::after {
  bottom: calc(100% + 0.25rem);
}
.tooltip.bottom::before, .tooltip.bottom::after {
  left: 50%;
  transform: translate(-50%, 0.5rem);
}
.tooltip.bottom::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #000;
}
.tooltip.bottom::after {
  top: calc(100% + 0.25rem);
}
.tooltip.left::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #000;
  left: -0.25rem;
  transform: translate(-0.5rem, -50%);
}
.tooltip.left::after {
  top: 50%;
  right: calc(100% + 0.25rem);
  transform: translate(-0.5rem, -50%);
}
.tooltip.right::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #000;
  right: -0.25rem;
  transform: translate(0.5rem, -50%);
}
.tooltip.right::after {
  top: 50%;
  left: calc(100% + 0.25rem);
  transform: translate(0.5rem, -50%);
}
.tooltip.top:hover::before, .tooltip.top:hover::after, .tooltip.bottom:hover::before, .tooltip.bottom:hover::after {
  animation: vertical_tooltip 300ms ease-out forwards;
}
.tooltip.left:hover::before, .tooltip.left:hover::after, .tooltip.right:hover::before, .tooltip.right:hover::after {
  animation: horizontal_tooltip 300ms ease-out forwards;
}
.tooltip.xs::after {
  font-size: x-small;
}
.tooltip.sm::after {
  font-size: small;
}
.tooltip.md::after {
  font-size: medium;
}
.tooltip.lg::after {
  font-size: large;
}
.tooltip.xl::after {
  font-size: x-large;
}
