* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ecedee;
}

body,
html,
div#main {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background,
html {
  background: #000;
}

.layer0 {
  background: #16181a;
}

.layer1 {
  background: #26292B;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  /* the only thing changing is font size */
  font-weight: 500;
}

/* https://codepen.io/neogomo/pen/BjqJzr */
.tooltip {
  position: relative;
}
.tooltip::before, .tooltip::after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, -0.5rem, 0);
  transition: all 0.15s ease-in-out;
}
.tooltip::after {
  border-right: 0.35rem solid transparent;
  border-bottom: 0.35rem solid blue;
  border-left: 0.35rem solid transparent;
  content: "";
  height: 0;
  width: 0;
}
.tooltip::before {
  background: yellow;
  border-radius: 0.25rem;
  color: red;
  content: attr(tooltip-text);
  padding: 0.25rem;
  white-space: nowrap;
  font-size: 0.75rem;
}
.tooltip:hover::after, .tooltip:hover::before {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.tooltip.bottom::after {
  top: 1.35rem;
  left: calc(50% - 0.35rem);
}
.tooltip.bottom::before {
  top: 1.7rem;
}

.tooltip.right::after {
  left: calc(100% + 0.35rem);
  bottom: calc(50% - 0.175rem);
}
.tooltip.right:hover::after {
  transform: rotate(-90deg);
}
.tooltip.right::before {
  margin-bottom: 50%;
  left: calc(100% + 0.9rem);
}

.tooltip.left::after {
  right: calc(100% + 0.35rem);
  bottom: calc(50% - 0.175rem);
}
.tooltip.left:hover::after {
  transform: rotate(90deg);
}
.tooltip.left::before {
  margin-bottom: 50%;
  right: calc(100% + 0.9rem);
}

.tooltip.top::after {
  bottom: 1.35rem;
  left: calc(50% - 0.35rem);
}
.tooltip.top:hover::after {
  transform: rotate(180deg);
}
.tooltip.top::before {
  bottom: 1.7rem;
}
