@keyframes vertical_tooltip {
	to {
		opacity: 1;
		transform: translate(-50%, 0);
	}
}

@keyframes horizontal_tooltip {
	to {
		opacity: 1;
		transform: translate(0, -50%);
	}
}


/* Tooltip */
.tooltip {
	position: relative;

	&::before,
	&::after {
		text-transform: none;
		font-size: .9rem;
		line-height: 1;
		user-select: none;
		pointer-events: none;
		position: absolute;
		display: none;
		opacity: 0;

	}

	&::before {
		content: '';
		border: .25rem solid transparent;
		z-index: 1001;
	}

	&::after {
		content: attr(tooltip-text);
		text-align: center;
		min-width: 3rem;
		max-width: 21rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 1ch 1.5ch;
		border-radius: .3ch;
		box-shadow: 0 1rem 2rem -.5rem $bg;
		background: $bg;
		color: $text;
		z-index: 1000;
	}

	&:hover::after,
	&:hover::before {
		display: block;
	}

	&.top {
		&::before,
		&::after {
			left: 50%;
			transform: translate(-50%, -.5rem);
		}

		&::before {
			bottom: 100%;
			border-bottom-width: 0;
			border-top-color: $bg;
		}

		&::after {
			bottom: calc(100% + .25rem);
		}
	}

	&.bottom {
		&::before,
		&::after {
			left: 50%;
			transform: translate(-50%, .5rem);
		}

		&::before {
			top: 100%;
			border-top-width: 0;
			border-bottom-color: $bg;
		}

		&::after {
			top: calc(100% + .25rem);
		}
	}

	&.left {
		&::before {
			top: 50%;
			border-right-width: 0;
			border-left-color: $bg;
			left: calc(0rem - .25rem);
			transform: translate(-.5rem, -50%);
		}

		&::after {
			top: 50%;
			right: calc(100% + .25rem);
			transform: translate(-.5rem, -50%);
		}
	}

	&.right {
		&::before {
			top: 50%;
			border-left-width: 0;
			border-right-color: $bg;
			right: calc(0rem - .25rem);
			transform: translate(.5rem, -50%);
		}

		&::after {
			top: 50%;
			left: calc(100% + .25rem);
			transform: translate(.5rem, -50%);
		}
	}

	&.top,
	&.bottom {
		&:hover::before,
		&:hover::after {
			animation: vertical_tooltip 300ms ease-out forwards;
		}
	}

	&.left,
	&.right {
		&:hover::before,
		&:hover::after {
			animation: horizontal_tooltip 300ms ease-out forwards;
		}
	}

	&.xs::after {
		font-size: x-small;
	}

	&.sm::after {
		font-size: small;
	}

	&.md::after {
		font-size: medium;
	}

	&.lg::after {
		font-size: large;
	}

	&.xl::after {
		font-size: x-large;
	}
}